.about-me-image {
  max-width: 350px;
  height: auto;
}

.about-me-qr-code {
  max-width: 250px;
}

.shop-qr-code {
  max-width: 300px;
}

.portfolio-iframe-container {
  height: 80vh;
}

.portfolio-iframe {
  width: 100%;
  height: 100%;
  border: none;
}
